{% load staticfiles %}
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS Configuration and Run Blocks</title>
</head>
<body>

<div ng-controller="controllerA">
    <hr>
    <h2>Config Time</h2>
    {% verbatim %}
        {{ configTime }}
    {% endverbatim %}

    <hr>
    <h2>Run Time</h2>
    {% verbatim %}
        {{ runTime }}
    {% endverbatim %}

</div>
<hr>

The user is {{ user }}

<script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
<script src="{% static "spa/js/config_run_blocks.js" %}"></script>

</body>
</html>